{% extends 'base/base.html.twig' %}
{% block title %}
	Resume List
{% endblock %}
{% block body %}
<div class="container-fluid">
	
	{% for message in app.flashes('success') %}
		<div class="alert alert-success w-100">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}
	<div class="col-xs-7 col-sm-7 p-2 col-md-7 col-lg-12 text-left">
		<h1>Resume index</h1>
		<hr/>
	</div>
	<div class="row justify-content-center w-100 p-2">
		<div class="col-xs-4 col-sm-4 col-md-4 col">
			<form class="row text-left">
				<input class="form-control col" value="{{ app.request.query.get('q') }}" name="q" type="search" placeholder="Search" aria-label="Search"/>
				<button class="col-lg-2 btn btn-outline-light my-2 my-sm-0" type="submit">
					Search
				</button>
			</form>
		</div>
	</div>

	<div class="col-lg-12 table-responsive">
		<table class="table table-striped text-white table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>
						<div class="col-sm-2">#</div>
					</th>

					<th scope="col">Id</th>
					<th scope="col">user</th>
					<th scope="col">Name</th>
					<th scope="col">Content</th>
					<th scope="col">Createat</th>
					<th class="text-center" scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for resume in pagination %}
					<tr>
						<td>#</td>
						<td>{{ resume.id }}</td>
						<td>{{ resume.userid }}</td>
						<td>{{ resume.name }}</td>
						<td>{{ resume.content | truncate }}</td>
						<td>{{ resume.createat ? resume.createat|date('Y-m-d') : '' }}</td>
						<td>
							<div class="row">
								<div class="col col-lg-6">
									<a class="btn btn-block btn-success" href="{{ path('app_resume_show', { id: resume.id }) }}">show</a>
								</div>
								<div class="col col-lg-6">
									<a class="btn btn-block btn-info" href="{{ path('app_resume_edit', { id: resume.id }) }}">edit</a>
								</div>
							</div>
						</td>
					</tr>
				{% else %}

					<tr>
						<td class="w-100" colspan="9">no records found</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col">
		<div class="d-flex justify-content-end">
			{{ knp_pagination_render(pagination) }}

		</div>
		<div class="d-flex justify-content-center">
			<a class="btn btn-outline-light btn-block" href="{{ path('app_resume_new') }}">Create new</a>
		</div>
	</div>

</div>


{% endblock %}
