@import "./footer/footer.scss";
@import "./css/login.scss";
@import "./css/register.scss";

@import "~bootstrap/scss/bootstrap";

/*
   ////////////////////////////// ANIMATIONS
*/

@keyframes bounce-2 {
  0% {
    text-shadow: 0px 0px 0px rgb(119, 119, 119);
  }
  50% {
    text-shadow: 0px 25px 20px rgb(119, 119, 119);
  }
  100% {
    text-shadow: 0px 0px 0px rgb(119, 119, 119);
  }
}

@font-face {
  font-family: portfolio;
  src: url(../styles/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: porfolio_bold;
  src: url(../styles/fonts/Roboto-Bold.ttf);
}

input,
select,
textarea {
  background-color: black !important;
  color: white;
  border: 1px solid rgb(68, 68, 68) !important;
}

select,
textarea,
input:focus-within {
  color: rgb(100, 223, 213) !important;
}

* {
  margin: 0px;
  padding: 0px;
}
span.logo-letter {
  position: absolute;
  margin-left: -25px !important;
  margin-top: 20px !important;
}
span.logo-letter p {
  display: inline;
  font-size: 27px;
  font-weight: bold;
  font-family: portfolio;
}

/*
    //////////////////////////////  NAVBAR
  */
#navbarSupportedContent
  > ul
  > li.nav-item.dropdown.p-0.show
  > div
  > div
  > div.col-6.p-0
  > a.dropdown-item.active {
  text-shadow: 0px 35px 25px rgb(126, 131, 131) !important;
  background-color: transparent !important;
}

.navbar a {
  font-size: x-large;
  font-family: porfolio_bold;
  color: white !important;
}
.item-focused {
  text-shadow: 0px 35px 25px rgb(126, 131, 131);
}
.navbar ul li.nav-item a:hover {
  text-shadow: 0px 35px 25px rgb(126, 131, 131);
}
.navbar div.dropdown-menu a:hover {
  text-shadow: 45px 0px 15px rgb(126, 131, 131) !important;
}

.active {
  text-shadow: 0px 35px 25px rgb(126, 131, 131) !important;
}

.menu-active {
  background-color: black;
}

div.row div a.dropdown-item:active {
  text-shadow: 0px 35px 25px rgb(126, 131, 131) !important;
}

.navbar form {
  font-family: porfolio_bold;
  color: white !important;
}

a.dropdown-item:hover {
  background-color: transparent !important;
}
a.dropdown-item {
  font-size: medium;
  font-family: porfolio_bold;
  color: white !important;
}
.dropdown-menu {
  background-color: transparent !important;
}
.dropdown-menu > a:hover {
  background: transparent !important;
}

a.logo {
  text-shadow: 0px 35px 5px rgb(94, 97, 97);
  /*animation: bounce-2 5s ease-in-out infinite;*/
  font-size: xx-large;
}

/*
    //////////////////////////////// BODY
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  display:table;
  width:100%;
  height:100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  background-image: url(../styles/img/carreteta.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: portfolio;
}

.main {
  width: 100%;
  min-height: 50vh;
  margin-top: 10%;
}

hr {
  border-color: white !important;
}

/*
    ////////////////////////// MOBILE VERSION
  */

@media (min-width: 345px) and (max-width: 480px) {
  .main {
    margin-top: 50%;
  }
}

/*
    //////////////////////// PARTICLES
  */

/* ---- particles.js container ---- */

#particles-js > canvas {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 30% !important;
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/***  CARD CV  */

section.header-card {
  width: 100%;
  border-radius: 2em 2em 0 0;
  border: 0.5px solid grayscale($color: #302f2f);
  border-top: 0;
  height: 200px;
  padding: 25px;
}

section.header-card img {
  background-image: url(../styles/img/stella.jpg);
  background-size: cover;
  border: 0.5px solid rgb(73, 70, 70);
}

section.footer-card {
  padding-left: 25px;
  background-color: transparent;
  width: 100%;
  min-height: 100px;
  border: 0.5px solid grayscale($color: #302f2f);
  border-radius: 0 0 2em 2em;
  border-bottom: 0;
  padding: 15px;
  box-shadow: 25;
}

section.footer-card h3 {
  color: white;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.1;
}

section.footer-card h5 {
  word-break: break-all;
  color: #f43002;
  font-weight: normal;
  line-height: 1.1;
  font-size: 1em;
}

section.footer-card button {
  height: 100%;
  color: #fabd59;
  border: 0;
}
.card-profile {
  height: 50vh;
}
//// FLOATING MENU

@import "~compass-mixins/lib/compass/css3";

.float-nav {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;

  > a.menu-btn {
    text-decoration: none;
    display: block;
    background-color: #cc3333;
    color: white;
    padding: 17px 19px 12px 19px;
    text-align: center;
    box-shadow: 2px 2px 8px #777;
    border-radius: 300px;

    &.active {
      transition: background-color 250ms linear;
      background-color: transparent;
      box-shadow: none;

      > ul > li.line {
        &:nth-child(1) {
          border-width: 2px;
          @include transform(rotate(45deg) translate(4px, 6px));
        }

        &:nth-child(2) {
          visibility: hidden;
        }

        &:nth-child(3) {
          border-width: 2px;
          @include transform(rotate(-45deg) translate(8px, -10px));
        }
      }
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li.line {
        border: 1px solid white;
        width: 100%;
        margin-bottom: 7px;
        @include transition-duration(0.1s);
      }
    }

    > .menu-txt {
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-family: sans-serif;
    }
  }
}

.main-nav {
  display: none;
  opacity: 0;
  font-family: sans-serif;
  position: fixed;
  bottom: 30px;
  right: 20px;
  transition: opacity 250ms;

  &.active {
    display: block;
    opacity: 1;
    transition: opacity 250ms;
  }

  > ul {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #cc3333;
    box-shadow: 2px 2px 8px #777;
    border-radius: 3px 3px 33.5px 3px;

    > li > a {
      text-decoration: none;
      display: block;
      font-weight: 200;
      padding: 18px 80px 18px 18px;
      color: white;

      &:hover {
        font-weight: 400;
      }
    }
  }
}
