
  <div class="card mb-3">
    <div class="ds-top"></div>
    <div class="avatar-holder">
      <img
        class=""
        src="https://robohash.org/{{ profile.name | default }}?size=150x150"
        alt="profile pic"
      />
    </div>
    <div class="name">
      <a href="/profiles/user/profile/{{ profile.id }}" target="_blank"
        >{{ profile.name }}</a
      >

      <h6 title="Followers"><i class="fas fa-user"></i></h6>
    </div>
    <div class="ds-info">
      <div class="ds pens">
        <h6 title="Number of pens created by the user">
          Exp <i class="fas fa-edit"></i>
        </h6>
        <p>{{ profile.experience|length }}</p>
      </div>
      <div class="ds projects text-nowrap">
        <h6 title="Number of projects created by the user">
          Projects <i class="fas fa-project-diagram"></i>
        </h6>
        <p>
          {% for git in profile.git %} {{ git.gitlabjsn | length }} {% endfor %}
        </p>
      </div>
    </div>
    <div class="ds-skill">
      <h6>Skill <i class="fa fa-code" aria-hidden="true"></i></h6>
      <div class="row">
        {% for skill in profile.skills %}
        <div class="col-lg-6">
          <div class="skill text-justify">
            <h6>{{ skill.techname }}</h6>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

