/* 
//////////////////// LOGIN
*/
* {
  border-color: transparent !important;
}

div button.login-button {
  background-color: transparent !important;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.login-body {
  height: 50vh;
}

form > input {
  background-color: black !important;
  color: white;
}

input:focus-within {
  color: rgb(100, 223, 213) !important;
}

@media (min-width: 345px) and (max-width: 480px) {
  div.container.login-body {
    margin-top: 25% !important;
  }
  .circles {
    bottom: 0px;
  }

  div.footer {
    position: relative !important;
  }
}
