* {
  border-color: transparent !important;
}

form label {
  color: white;
}

.form-group input {
  background-color: black !important;
  color: white;
}

.form-group input:focus-within {
  color: rgb(100, 223, 213) !important;
}

div.form {
 

  width: 100vw;
}
