<div class="float-nav">
  <a href="#" class="menu-btn">
    <ul>
      <li class="line"></li>
      <li class="line"></li>
      <li class="line"></li>
    </ul>
    <div class="menu-txt">menu</div>
  </a>
</div>

<div class="main-nav">
  <ul>
    <li>
      <a
        href="{{ path('app_company_index') }}"
        class="dropdown-item {% if app.request.get('_route') == 'app_company_index' %} menu-active {% endif %}"
      >
        Companys
      </a>
    </li>
    <li>
      <a
        href="{{ path('app_experience_index') }}"
        class="dropdown-item {% if app.request.get('_route') == 'app_experience_index' %} menu-active {% endif %}"
      >
        Experiences
      </a>
    </li>
    <li>
      <a
        href="{{ path('app_skill_index') }}"
        class="dropdown-item {% if app.request.get('_route') == 'app_skill_index' %} menu-active {% endif %}"
      >
        Skills
      </a>
    </li>
    <li>
      <a
        href="{{ path('app_resume_index') }}"
        class="dropdown-item {% if app.request.get('_route') == 'app_resume_index' %} menu-active {% endif %}"
      >
        Resumes
      </a>
    </li>
    <li>
      <a
        href="{{ path('app_education_index') }}"
        class="dropdown-item {% if app.request.get('_route') == 'app_resume_index' %} menu-active {% endif %}"
      >
        Education
      </a>
    </li>
    <li>
      <a
        href="{{ path('app_git_repositories_index') }}"
        class="dropdown-item {% if app.request.get('_route') == 'app_git_repositories_index' %} menu-active {% endif %}"
      >
        Git repositories
      </a>
    </li>
  </ul>
</div>
