<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-68999635-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-68999635-3");
    </script>

    {% block stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    <script
      src="https://kit.fontawesome.com/2ce703cfa3.js"
      crossorigin="anonymous"
    ></script>

    {% endblock %}

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="UTF-8" />

    <title>{% block title %}Mustellaris! {% endblock %}</title>

    {% block javascripts %}
    {{
      encore_entry_script_tags("app")
    }}
    {% endblock %}
  </head>

  <body>
    {# header #}
    <header>{% include "header/header.html.twig" %}</header>

    {# container #}
    <div class="container-fluid">
      <div class="row justify-content-center main">
        {% block body %}{% endblock %}
      </div>
    </div>

    {# footer #}
    <footer>
      {% if app.user %} {% include "floatmenu/float_menu.html" %} {% else %}

      <div class="row">{% include "footer/footer.html.twig" %}</div>

      {% endif %}
    </footer>
  </body>
</html>
