{% extends 'base/base.html.twig' %}
{% block title %}
	Edit Experience
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-lg-6">
			<div class="text-center text-white">
				<h1>Edit Experience</h1>
			</div>
			

				{{ include('experience/_form.html.twig', {'button_label': 'Update'}) }}

				<a class="btn btn-warning" href="{{ path('app_experience_index') }}">back to list</a>

				{{ include('experience/_delete_form.html.twig') }}
			</div>

		</div>
	</div>


{% endblock %}
