{% extends 'base/base.html.twig' %}
{% block title %}
	New Experience
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
			<h1>Create new Experience</h1>

			{{ include("experience/_form.html.twig") }}

			<a class="btn btn-warning" href="{{ path('app_experience_index') }}">back to list</a>
		</div>

	</div>
</div>
	
 
{% endblock %}
