{% extends 'base/base.html.twig' %}
{% block title %}
	Experience

{% endblock %}


{% block body %}
	<div class="col-sm-6 col-lg-12">
		<h1>Experience</h1>

		<table class="table text-white">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ experience.id }}</td>
				</tr>
				<tr>
					<th>Expname</th>
					<td>{{ experience.expname }}</td>
				</tr>
				<tr>
					<th>Expdescription</th>
					<td>{{ experience.expdescription }}</td>
				</tr>
				<tr>
					<th>Expfrom</th>
					<td>{{ experience.expfrom ? experience.expfrom|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Expto</th>
					<td>{{ experience.expto ? experience.expto|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Createat</th>
					<td>{{ experience.createat ? experience.createat|date('Y-m-d') : '' }}</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-warning btn-block" href="{{ path('app_experience_index') }}">back to list</a>
			</div>
			<div class="col-sm-12 col-lg-6">
				<a class="btn btn-info btn-block" href="{{ path('app_experience_edit', {'id': experience.id}) }}">edit</a>
			</div>
		</div>
		<div class="p-3">
			{{ include('experience/_delete_form.html.twig') }}
		</div>


	</div>

{% endblock %}
