{% extends 'base/base.html.twig' %}
{% block title %}
	GitRepositories

{% endblock %}


{% block body %}

	<div class="container-fluid">
		<div class="text-center text-white">
			<h1>GitRepositories</h1>
		</div>
		<div class="col-sm-6 col-lg-12">

			<div class="table-responsive">
				<table class="table text-white">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ git_repository.id }}</td>
						</tr>
						<tr>
							<th>Githuburl</th>
							<td>{{ git_repository.githuburl }}</td>
						</tr>
						<tr>
							<th>Gitlaburl</th>
							<td>{{ git_repository.gitlaburl }}</td>
						</tr>
						<tr>
							<th>Gitlabaccesstoken</th>
							<td>{{ git_repository.gitlabaccesstoken }}</td>
						</tr>
						<tr>
							<th>Githubaccesstoken</th>
							<td>{{ git_repository.githubaccesstoken }}</td>
						</tr>
						<tr>
							<th>Usernamegitlab</th>
							<td>{{ git_repository.usernamegitlab }}</td>
						</tr>
						<tr>
							<th>Usernamegithub</th>
							<td>{{ git_repository.usernamegithub }}</td>
						</tr>
						<tr>
							<th>Gitlabispub</th>
							<td>{{ git_repository.gitlabispub ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th>Githubispub</th>
							<td>{{ git_repository.githubispub ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th>Githubjsn</th>
							<td>{{ git_repository.githubjsn ? git_repository.githubjsn |json_encode()| truncate}}</td>
						</tr>
						<tr>
							<th>Gitlabjsn</th>
							<td>{{ git_repository.gitlabjsn ? git_repository.gitlabjsn |json_encode()| truncate }}</td>
						</tr>
						<tr>
							<th>Gitladid</th>
							<td>{{ git_repository.gitladid }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col-sm-12 col-lg-6">
					<a class="btn btn-warning btn-block" href="{{ path('app_git_repositories_index') }}">back to list</a>
				</div>
				<div class="col-sm-12 col-lg-6">
					<a class="btn btn-info btn-block" href="{{ path('app_git_repositories_edit', {'id': git_repository.id}) }}">edit</a>
				</div>
			</div>
			<div class="p-3">
				{{ include('git_repositories/_delete_form.html.twig') }}
			</div>
		</div>
	</div>


{% endblock %}
