////  CARD LIST PROFILES
@import url("https://fonts.googleapis.com/css?family=Krub:400,700");

.list-profile {
  width: 80%;
  margin-left: auto;
}
///////////////////////// FILTERs
.parent {
  display: flex;
  flex-wrap: wrap;
}

div.d-flex div.col-sm {
  color: white;
  & h3 {
    display: inline-block;
    line-height: 100px;
    cursor: pointer;
  }
}

.card {
  position: relative;
  margin: auto;
  min-width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
  &:hover img {
    transition: transform 0.8s;
    -ms-transform-origin-x: -1;
    transform: scale(1.5, 1.5);
  }
  .ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(../../img/bokeh-1569531_640.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    animation: dsTop 1.5s;
  }
  .avatar-holder {
    position: absolute;
    margin: auto;
    top: 40px;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000,
      inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;

    background: rgb(140, 140, 140);
    background: -moz-radial-gradient(
      circle,
      rgba(140, 140, 140, 1) 0%,
      rgba(0, 0, 0, 1) 66%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(140, 140, 140, 1) 0%,
      rgba(0, 0, 0, 1) 66%
    );
    background: radial-gradient(
      circle,
      rgba(140, 140, 140, 1) 0%,
      rgba(0, 0, 0, 1) 66%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c8c8c",endColorstr="#000000",GradientType=1);

    overflow: hidden;
    animation: mvTop 1.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    position: absolute;
    margin: auto;
    top: -60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
    a {
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
        color: crimson;
      }
    }
    h6 {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -5px;
      color: white;
      width: 40px;
    }
  }
  .button {
    position: absolute;
    margin: auto;
    padding: 8px;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
    outline: none;
    a {
      padding: 5px 20px;
      border-radius: 10px;
      color: white;
      letter-spacing: 0.05em;
      text-decoration: none;
      font-size: 10px;
      transition: all 1s;
      &:hover {
        color: white;
        background: crimson;
      }
    }
  }
  .ds-info {
    position: absolute;
    margin: auto;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
    width: inherit;
    height: 40px;
    display: flex;
    .pens,
    .projects,
    .posts {
      position: relative;
      left: -300px;
      width: calc(250px / 3);
      text-align: center;
      color: white;
      animation: fadeInMove 2s;
      animation-fill-mode: forwards;
      h6 {
        text-transform: uppercase;
        color: crimson;
      }
      p {
        font-size: 12px;
      }
    }
    .ds {
      &:nth-of-type(2) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(1) {
        animation-delay: 1s;
      }
    }
  }
  .ds-skill {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: auto;
    bottom: 10px;
    padding: 15px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: mvBottom 1.5s;
    h6 {
      margin-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase;
      color: crimson;
    }
    .progress {
      height: 4px;
    }
    .skill {
      h6 {
        white-space: nowrap;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.05em;
        color: white;
      }
      .fab {
        color: crimson;
        font-size: 14px;
      }
      .bar {
        height: 5px;
        background: crimson;
        text-align: right;
        p {
          color: white;
          font-size: 8px;
          padding-top: 5px;
          animation: fadeIn 5s;
        }
        &:hover {
          background: white;
        }
      }
      .bar-html {
        width: 95%;
        animation: htmlSkill 1s;
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}

@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

.following {
  color: white;
  background: crimson;
}

.pagination > li.page-item > span {
  background-color: transparent !important;
}

.pagination > li.page-item a.page-link {
  background-color: transparent !important;
}

div.row.list {
  padding: 50px 0 50px 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
