{% extends 'base/base.html.twig' %}
{% block title %}
	Skill List
{% endblock %}
{% block body %}
	<div class="container-fluid">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success w-100">
				<h3>{{ message }}</h3>
			</div>
		{% endfor %}
		<div class="col-sm-7 p-2 col-md-12 col-lg-12 text-left">
			<h3>Skill index</h3>
			<hr/>
		</div>
		<div class="row justify-content-center w-100 p-2">
			<div class="col-xs-4 col-sm-4 col-md-4 col">
				<form class="row text-left">
					<input class="form-control col" value="{{ app.request.query.get('q') }}" name="q" type="search" placeholder="Search" aria-label="Search"/>
					<button class="col-lg-2 btn btn-outline-light my-2 my-sm-0" type="submit">
						Search
					</button>
				</form>
			</div>
		</div>

		<div class="col-lg-12 table-responsive">
			<table class="table table-striped text-white table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>
							<div class="col-sm-2">#</div>
						</th>
						<th>Id</th>
						<th>Techname</th>
						<th>Techdescription</th>
						<th>Techpercent</th>
						<th>Techasset</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for skill in skills %}
						<tr>
							<td>
								#
							</td>
							<td>{{ skill.id }}</td>
							<td>{{ skill.techname }}</td>
							<td>{{ skill.techdescription| truncate }}</td>
							<td>{{ skill.techpercent }}</td>
							<td>{{ skill.techasset }}</td>
							<td>
								<div class="row">
									<div class="col col-lg-6">
										<a class="btn btn-block btn-success" href="{{ path('app_skill_show', {'id': skill.id}) }}">show</a>

									</div>
									<div class="col col-lg-6">
										<a class="btn btn-block btn-info" href="{{ path('app_skill_edit', {'id': skill.id}) }}">edit</a>

									</div>
								</div>


							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-12">
			<div class="d-flex justify-content-end"></div>
			<div class="d-flex justify-content-center">
				<a class="btn btn-outline-light btn-block" href="{{ path('app_skill_new') }}">Create new</a>
			</div>
		</div>
	</div>


{% endblock %}
