{% extends 'base/base.html.twig' %}
{% block title %}
Skill new

{% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-lg-6">
			<div class="text-center text-white">
				<h1>Create new Skill</h1>
			</div>
			{{ include('skill/_form.html.twig') }}

			<a class="btn btn-warning" href="{{ path('app_skill_index') }}">back to list</a>
		</div>
	</div>
</div>

{% endblock %}