{% extends 'base/base.html.twig' %} {% block title %} Company new {% endblock %}
{% block body %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <h1>Create new Company</h1>

      {{ include("company/_form.html.twig") }}

      <a class="btn btn-warning" href="{{ path('app_company_index') }}"
        >back to list</a
      >
    </div>
  </div>
</div>

{% endblock %}
