{% extends 'base/base.html.twig' %} {% block title %}
{{ controller_name }}
{% endblock %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block body %}
 
   
    <div class="col text-white  main" data-controller="profile">
      <table class="d-flex justify-content-center">
        <tbody>
          <tr>
            <td class="align-middle">
              <section class="header-card text-center">
                <a>
                  <img
                    class="bg-dark rounded-circle"
                    {% if user_cv %}src="https://robohash.org/{{ user_cv.name|default }}?size=150x150"{% endif %}
                    {% if email %}src="https://robohash.org/{{ email }}?size=150x150"{% endif %}
                     
                    alt="profile pic"
                  />
                </a>
              </section>
              <section class="footer-card text-left">
                <div class="row">
                  <div class="col-lg-8 col-12">
                    <h3 data-profile-target="name">{{ user_cv.name|default }} {{ msg }} </h3>
                    <h5 data-profile-target="email">{{ user_cv.email|default }} {{ msg }} </h5>
                  </div>
                  <div class="col-lg-4 col-12">
                    <button type="button" class="btn btn-outline-dark">
                      Check my profile
                    </button>
                  </div>
                </div>
              </section>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
 

{% endblock %}
