{% extends 'base/base.html.twig' %} {% block title %}Hello
{{ controller_name }}
{% endblock %} {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/daniel/daniel.css') }}" />
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <div class="col-12 text-center">
        <img
          class="img-fluid bg-dark rounded-circle"
          src="https://robohash.org/{{ controller_name }}?size=200x200"
          alt="profile pic"
        />
      </div>
      <div class="col-12 text-left text-white text-center">
        <h1>{{ user_info.name }} Urbano de la Rua</h1>
        <p>{{ user_info.email }}</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="col-12 p-5 text-left">
         
      </div>
      <div class="col-12 text-left p-4 text-white text-left">
        <h1>About Me</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>

    <div class="container-fluid">
      <hr />
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-6 text-center text-white">
          <div>
            <h2>Skills</h2>
          </div>
          <div class="row justify-content-center">
            <div class="col-8 text-left p-2">
              <div class="row">
                <div class="col-6">
                  <h4 class="d-inline">JS</h4>
                </div>
                <div class="col-6 text-right">
                  <p class="">35%</p>
                </div>
              </div>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>

            <div class="col-8 text-left p-2">
              <h4>Python 3</h4>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-8 text-left p-2">
              <h4>Django 3</h4>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 65%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-8 text-left p-2">
              <h4>Php 7.4</h4>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="col-8 text-left p-2">
              <h4>Symfony</h4>
              <div class="progress">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  style="width: 50%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 text-center text-white">
          <div><h2>Experinces</h2></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
<script
  src="{{ asset('assets/js/daniel/script.js') }}"
  type="text/javascript"
></script>
{% endblock %}
