{% extends 'base/base.html.twig' %} {% block title %} Mustellaris list {%
endblock %} {% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags("cv_list") }}
{% endblock %} {% block body %}
<div class="ml-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 mb-5">
      <form class="form-inline">
        <input
          class="form-control col"
          value="{{ app.request.query.get('q') }}"
          name="q"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="col-lg-2 btn btn-outline-light my-2 my-sm-0"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
  </div>

  <div class="container-fluid" data-controller="list">
    <div class="d-flex justify-content-center text-center">
      <div class="col-sm">
        <h3 data-action="click->list#byname" data-order="0">BY NAME</h3>
      </div>
      <div class="col-sm">
        <h3 data-action="click->list#byexperience" data-order="0">
          BY EXPERIENCE
        </h3>
      </div>
    </div>

    <ul
      class="row justify-content-center"
      class="list-inline"
      data-list-target="card"
    >
      {% for i,profile in pagination %} {# card template #}

      <li
        class="list-inline-item col-sm col-md-6 col-lg-3"
        data-id="{{ profile.id }}"
        data-name="{{ profile.name }}"
        data-experience="{{ profile.experience | length }}"
      >
        {% include "profiles/card/card_profile.html" with {'profile': profile }
        %}
      </li>

      {% endfor %}
    </ul>
  </div>

  <div class="col-12 col-1g-6">
    <div class="d-flex justify-content-center">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
</div>

{% endblock %}
