<nav class="navbar navbar-expand-lg fixed-top mb-5">
	<a class="navbar-brand logo" href="{{ path('app_jome') }}">
		<img src="{{ asset('assets/img/logo_mustelaris.png')}}" class="${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" height="100" alt="logotype"><span class="logo-letter"></span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon navbar-inverse">
			<i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
		</span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">

			<li class="nav-item">
				<a class="nav-link  {% if app.request.get('_route') == 'app_jome' %} active {% endif %}" href="{{ path('app_jome') }}" href="#">Main

				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if app.request.get('_route') == 'app_profiles_list' %} active {% endif %}" href="{{ path('app_profiles_list')}}">Profiles</a>
			</li>

			<li class="nav-item">
				{% if app.user %}
					<a class="nav-link {% if app.request.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_logout') }}">Log Out</a>
				{% else %}
					<a class="nav-link {% if app.request.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_login') }}">Log In</a>
				{% endif %}
			</li>
		</div>

	</ul>

</div></nav>
