{% extends 'base/base.html.twig' %} {% block title %}Log in! {% endblock %} {%
block stylesheets %}
{{ parent() }}

{% endblock %} {% block body %}
 
  
    <div class="col-xs-8 col-lg-4 main">
      <form method="post">
        {% if error %}
        <div class="alert alert-dange text-white">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %} {% if app.user %}
        <div class="mb-3 text-white">
          You are logged in as
          {{ app.user.username }},
          <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-6">
            <h1 class="h3 mb-3 font-weight-normal text-white text-center">
              Please Log in or
            </h1>
          </div>
          <div class="col-6">
            <a
              class="btn btn-lg btn-dark btn-block"
              href="{{ path('app_register') }}"
            >
              Sing in
            </a>
          </div>
        </div>

        <label class="text-white" for="inputEmail">Email</label>
        <input
          type="email"
          value="{{ last_username }}"
          name="email"
          id="inputEmail"
          class="form-control"
          required
          autofocus
        />
        <label class="text-white mt-2" for="inputPassword">Password</label>
        <input
          type="password"
          name="password"
          id="inputPassword"
          class="form-control"
          required
        />

        <input
          type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}"
        />

        {# Uncomment this section and add a remember_me option below your
        firewall to activate remember me functionality. See
        https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="_remember_me" /> Remember me
          </label>
        </div>
        #}

        <button class="btn btn-lg btn-block mt-4 btn-dark" type="submit">
          Log in
        </button>
      </form>

    </div>
    
 
 

{% endblock %}
