{% extends 'base/base.html.twig' %} {% block title %}Register! {% endblock %}
{%block stylesheets %}
{{ parent() }}

{% endblock %} {% block body %}

<div class="mb-5 main">
  <div class="form">
    <div class="container">
      {{ form_start(register_form) }}
      {{ form_errors(register_form) }}
      <div class="row">
        <div class="col-6">
          {{ form_row(register_form.name) }}
        </div>

        <div class="col-6">
          {{ form_row(register_form.email) }}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          {{ form_row(register_form.phonenumber) }}
        </div>
        <div class="col-6">
          {{ form_row(register_form.linkedidProfile) }}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          {{ form_row(register_form.infojobProfile) }}
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-6">
          {{ form_row(register_form.password.first) }}
        </div>
        <div class="col-6">
          {{ form_row(register_form.password.second) }}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          {{ form_row(register_form.agreeTerms, {'attr': {'class': 'text-white'}}
          ) }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 pt-4">
          <button
            class="btn btn-lg btn-dark text-white btn-block"
            type="submit"
          >
            Register
          </button>
        </div>
        <div class="col-6 pt-4">
          <a
            class="btn btn-dark btn-lg btn-block"
            href="{{ path('app_login') }}"
            >Login
          </a>
        </div>
      </div>

      {{ form_end(register_form) }}
    </div>
  </div>
</div>

{% endblock %}
